@import url("https://fonts.googleapis.com/css?family=Orbitron");

body {
    font-family: 'Orbitron', sans-serif;
}

.tt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    text-align: center;
}

#currentTime {
    font-size: 96px;
}

#otherTime {
    font-size: 24px;
    margin-top: -90px;
}

.modal {
    position: fixed;
    left: 50%;
    width: 50%;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    background-color: gray;
    opacity: 0.95;
}

#seperator {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 20%;
    left: 50%;
    height: 75%;
    width: 2px;
    background-color: black;
}

#whiteTime {
    position: absolute;
    left:  0%;
    width: 50%;
    height: 100%;
}

#blackTime {
    position: absolute;
    right: 0%;
    width: 50%;
    height: 100%;
}

#whiteTime span, #blackTime span {
    font-size: 48px;
    margin-left: -10px;
}

input[type="text"] {
    width: 75px;
    height: 80px;
    margin-right: 15px;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    outline: 0;
    padding-left: 8px;
    border: none;
    border-radius: 2px;
}

#restart {
    position: fixed;
    right: 1%;
    top: 1%;
    text-decoration: underline;
    color: black;
}